.box {
  min-height: 100px;
  border: 1px #fff solid;
  background-color: #ddd;
  flex: 1;
}

.clickable:hover {
  border: 1px #ccc solid;
  background-color: #ddd;
  cursor: pointer;
}

.x {
  background-color: #cdb9fd;
}

.x:before {
  content: "X";
}

.o {
  background-color: #99b39f;
}

.o:before {
  content: "O";
}
